:root {
  --base-font: Roboto, sans-serif;
  --base-font-color: #757575;
  --second-font-color: #2196F3;
  --title-font-color: #212121;
}

body {
  background-color: white;
  font-family: var(--base-font);
}

.logo-title {
  color: var(--second-font-color);
  text-decoration: none;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  cursor: pointer;
  font-family: Raleway;
}

.logo-title.studio-span {
  color: var(--title-font-color);
}

.nav-list {
  list-style-type: none;
}

.nav-item {
  text-decoration: none;
  color: var(--title-font-color);
  font-family: var(--base-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.nav-item:hover, .nav-item:focus {
  color: var(--second-font-color);
}

.nav-item.studio-item {
  color: var(--second-font-color);
}

.contact-mail, .contact-tel {
  color: var(--base-font-color);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.17;
  font-weight: 500;
}

.contact-mail:hover, .contact-mail:focus,
.contact-tel:hover, .contact-tel:focus
{
  color: var(--second-font-color);
}

.hero {
  background-color: #2F303A;
}

.hero-title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}